{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}
<div class="container">
<h1>Welcome to Mountain Coders Blog</h1>
{% for blog in blogs %}
{% comment %} {{blog.title}} {% endcomment %}

    <div class="my-2">
        
         <h3><a href="/blogpost/{{blog.slug}}" class="text-dark">{{blog.title}}</a></h3> 
         <div class="my-2">
         {{blog.content|slice:245}}...
         </div>
        
         <a href="/blogpost/{{blog.slug}}" class="text-dark"><button class="btn btn-primary">see more...</button></a>
      </div>


{% endfor %}
</div>
{% endblock body %}